// GENERAL

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container {
  width: 50vw;
  margin: 0 auto;
}

// HEADER

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  img {
    height: 10rem;
  }
}

// MAIN

.program-adapter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  .program {
    width: 60%;
    border-bottom: 1px solid gray;
    display: flex;
    gap: 2rem;
    align-items: left;
    padding-bottom: 2rem;
    img {
      object-fit: cover;
      aspect-ratio: 2 / 3;
      width: 4vw;
    }
    .hour {
      font-weight: bold;
      font-size: 2rem;
    }
    .rigth-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .more-details {
      display: flex;
      gap: 1rem;
      p {
        font-weight: bold;
      }
      p:not(:first-child) {
        color: red;
        &::before {
          content: "• ";
        }
      }
    }
  }
}
